:root {
  --clr-primary-400: #004a04;
  --clr-accent-400: #700c18;
  --clr-neutral-100:  #fff;

  /* Font families
  
  --ff-primary: ;
  --ff-accent: ;

  */
}

body{
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing:  border-box;
}

body,
h1,
h2,
h3,
p {
  margin:  0;
}

h1,
h2,
h3{
  line-height: 1;
  font-weight: 900;

}

h1,
h2,
h3,
p {
  margin-bottom: 1em;
}

.text-right{
  text-align: right;
}

header,
section,
footer {
  padding: 3rem 0;
}

.container {
  margin-inline:  auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width:  40rem){
  .split{
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }
  .split > * + * {
    flex-basis: 40%;
  }
}

.bg-green {
  background-color: var(--clr-primary-400);
  /*Fix this*/
  color: var(--clr-neutral-100);
}
.bg-red {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-100);
}
.bg-white {
  background-color: var(--clr-neutral-100);
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
